<div class="contents"> 

  <div class="container">
    <div id="dg">
      <%= simple_form_for @meeting, :html => { :class => 'form-horizontal' } do |f| %>
         <div class="form-group">
          <p style="margin-bottom:-5px;">Select Sport</p>
          <%= f.collection_select :sport_id, @sports, :id, :name  %>
        </div><br/>
        <div class="form-group">
          <%= f.label :meetdate %><br />
         <%= f.text_field :meetdate %>
        </div><br/>
         <div class="form-group">
          <%= f.label :address %><br />
          <%= f.text_field :address %>
        </div><br/>
         <div class="form-group">
            <%= f.label :start_at %><br />
            <%= f.text_field :start_at %>
        </div><br/>
          <div class="form-group">
          <%= f.label :end_at %><br />
          <%= f.text_field :end_at %>
        </div><br/>
       
         <div class="form-group">
          <%= f.label :recurring %><br />
          <%= f.check_box :recurring %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
