<div class="row centered">
  <%= simple_form_for @meeting, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="form-group">
      <p style="margin-bottom:-3px;">Select Sport</p>
      <%= f.collection_select :sport_id, @sports, :id, :name  %>
    </div><br/>
    <div class="form-group">
      <%= f.label :meetdate %><br />
      <%= f.text_field :meetdate %>
    </div><br/>
    <div class="form-group">            
      <%= f.label :start_at %><br />
      <%= f.select :start_at, collection: ["12:00 PM", "1:00 PM", "2:00 PM", "3:00 PM", "4:00 PM", "5:00 PM" ,"6:00 PM", "7:00 PM", "8:00 PM", "9:00 PM", "10:00 PM", "11:00 PM", "12:00 AM", "1:00 AM", "2:00 AM", "3:00 AM", "4:00 AM", "5:00 AM" ,"6:00 AM", "7:00 AM", "8:00 AM", "9:00 AM", "10:00 AM", "11:00 AM" ]%>
    </div><br/>
    <div class="form-group">
      <%= f.label :end_at %><br />
      <%= f.select :end_at, collection: ["12:00 PM", "1:00 PM", "2:00 PM", "3:00 PM", "4:00 PM", "5:00 PM" ,"6:00 PM", "7:00 PM", "8:00 PM", "9:00 PM", "10:00 PM", "11:00 PM", "12:00 AM", "1:00 AM", "2:00 AM", "3:00 AM", "4:00 AM", "5:00 AM" ,"6:00 AM", "7:00 AM", "8:00 AM", "9:00 AM", "10:00 AM", "11:00 AM" ]%>
    </div><br/>              
   
    <div class="actions">
      <%= f.submit %>
    </div>
    <%= render  'googlemap' %>
  <% end %>
</div>
          
    
    
          


    
          

   
   
    
      

