<h1>Listing meetings</h1>

<table>
  <tr>
    <th>Meetdate</th>
    <th>Recurring</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Start at</th>
    <th>End at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.meetdate %></td>
    <td><%= meeting.recurring %></td>
    <td><%= meeting.address %></td>
    <td><%= meeting.latitude %></td>
    <td><%= meeting.longitude %></td>
    <td><%= meeting.start_at %></td>
    <td><%= meeting.end_at %></td>
    <td><%= link_to 'Show', meeting %></td>
    <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
    <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting', new_meeting_path %>
