<div class="step_wrapper">
  <div class="row">     
    <ul id="thetime">
      <%# @mymeetings.in_groups_of(2, false) do |mymeeting| %> 
        <% @mymeetings.each do |mymeeting| %> 
         <!-- <div class="col-lg-4"></div> -->   
          <div class="mytime" > 
            <li><%= mymeeting.sport.name unless nil? %></li>
            <li><%= mymeeting.meetdate.try(:strftime, '%A  %B  %e')  %></li>
            <li><%= mymeeting.start_at.strftime('%I : %M %P') %></li>
            <li><%= distance_of_time_in_words mymeeting.start_at, mymeeting.end_at %></li>
            <li>Location<%#= mymeeting.address %></li>
            <li>
              <%= form_for user_root_path,   :html => { :id => "mymatch" }  do  |f| %>
                <%= f.hidden_field :id, :value => mymeeting.id %>
                <button  id="matchit" type="submit" return="false">Get Matches</button>
              <%end%>
            </li>
          </div>
        <!-- <div class="col-lg-4"></div>  --> 
        <%#end%>
      <%end%>
    </ul>
  </div>
</div>

