<div class="contents"> 
  <div class="container">
    <div id="dg">
      <%= form_for(@user_sport) do |f| %>
        <% if @user_sport.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user_sport.errors.count, "error") %> prohibited this user_sport from being saved:</h2>

            <ul>
            <% @user_sport.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.collection_select :sport_id, @sport, :id, :name  %>
        </div><br/>
        <div class="field">
          <%= f.select :rating, collection: ["Beginner", "Intermediate", "Advanced", "Professional"]%>
        </div><br>
        
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
</div>
</div>
</div>