<div class="contents"> 
  <div class="container">
    <div id="dg">
      <h1>Listing Sports</h1>

        <table class="table table-bordered">


          <tr>
            <th>User</th>
            <th>Sport</th>
            <th>Rating</th>
            <th></th>
            
          </tr>

            <% @user_sports.each do |user_sport| %>
              <tr>
                <td><%= user_sport.user.first_name %></td>
                <td><%= user_sport.sport.name %></td>
                <td><%= user_sport.rating %></td>
                <td><%= link_to 'Destroy', user_sport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
        </table>

        <br />

        <%= link_to 'New User sport', new_user_sport_path %>
</div>
</div>
</div>