<h1>Listing meeting_locations</h1>

<table>
  <tr>
    <th>Meeting</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meeting_locations.each do |meeting_location| %>
  <tr>
    <td><%= meeting_location.meeting %></td>
    <td><%= meeting_location.location %></td>
    <td><%= link_to 'Show', meeting_location %></td>
    <td><%= link_to 'Edit', edit_meeting_location_path(meeting_location) %></td>
    <td><%= link_to 'Destroy', meeting_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting location', new_meeting_location_path %>
