<div class="contents"> 
  <div class="container">
    <div class="showmap" id="dg">
      <div class="col-lg-12">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>

        <p>
          <b>Location Name:</b>
          <%= @location.location_name %>
        </p>

        <p>
          <b>Street Number:</b>
          <%= @location.country %>
        </p>

        <p>
          <b>Street Name:</b>
          <%= @location.address %>
        </p>

        <p>
          <b>City:</b>
          <%= @location.district %>
        </p>
        <p>
          <b>State:</b>
          <%= @location.city %>
        </p>
        <p>
          <b>Zip Code:</b>
          <%= @location.postcode %>
        </p>
        <p>
          <b>Phone:</b>
          <%= @location.phone_number %>
        </p>

        <p class="latlo">
          <b>Lat:</b>
          <span id="location_lat"><%= @location.lat %></span>
        </p>

        <p class="latlo">
          <b>Lng:</b>
          <span id="location_lng"><%= @location.lng %></span>
        </p>
        
          <%= render :partial => "googlemap_show" %>
        
      </div>
        <%= link_to 'Back', locations_path %>
    </div>
  </div>
</div>